.my-user-grid {
    background: #f0f0f0;
    color: #1a1a1a;
    border: 1px solid #a5a5a5;
    min-width: 800px;
    min-height: 300px;
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.my-user-grid__header {
    position: absolute;
    top: 0;
    bottom: auto;
    right: 0;
    left: 0;
    z-index: 1;
    background: inherit;
}

.my-user-grid__toolbar {
    height: 50px;
    border-bottom: 1px solid #bebebe;
}


.my-user-grid__head {
    line-height: 220%;
    border-bottom: 1px solid #d8d8d8;
    font-size: 90%;
    background: #e4e4e4;
    white-space: nowrap;
    overflow: hidden;
}


.my-user-grid__head__item {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: inherit;
}

.my-user-grid__head__item:not(:first-child) {
    border-left: 1px solid #bebebe;
}


.my-user-grid__head__item_active {
    font-weight: bold;
}


.my-user-grid__body {
    padding-top: 75px;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.my-user-grid__body__row {
    white-space: nowrap;
    overflow: hidden;
}

.my-user-grid__body__row:not(:first-child) {
    border-top: 1px solid #d8d8d8;
}

.my-user-grid__body__item {
    display: inline-block;
    padding: 0 10px;
    line-height: 330%;
}

.my-user-grid__head__item,
.my-user-grid__body__item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
}

