body {
    font: 12px Helvetica, sans-serif;
    padding: 0 50px;
    margin: 0;
}


h2 {
    display: inline-block;
    margin: 0 20px 20px 0;
}

.grid {
    background: #f0f0f0;
    color: #1a1a1a;
    border: 1px solid #a5a5a5;
    min-width: 800px;
    width: 100%;
    box-sizing: border-box;
}


.grid__toolbar-placeholder {
    margin: -1px;
    height: 50px;
}

.grid__toolbar {
    height: 50px;
    border: 1px solid #bebebe;
    background: #f0f0f0;
}

.grid__toolbar_fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    border: 1px solid #bebebe;
    box-sizing: border-box;
}


.grid__head {
    line-height: 220%;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #d8d8d8;
    font-size: 90%;
    background: #e4e4e4;
    white-space: nowrap;
    overflow: hidden;
}

.grid__head__item {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: inherit;
}

.grid__head__item:not(:first-child) {
    border-left: 1px solid #bebebe;
}

.grid__head__item_active {
    font-weight: bold;
}


.grid__body__row {
    white-space: nowrap;
    overflow: hidden;
}

.grid__body__row:not(:first-child) {
    border-top: 1px solid #d8d8d8;
}

.grid__body__item {
    display: inline-block;
    padding: 0 10px;
    line-height: 330%;
}


.grid__head__item,
.grid__body__item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
}


.grid__login {
    width: 25%;
}

.grid__name {
    width: 35%;
}

.grid__email {
    width: 10%;
}

.grid__groups {
    width: 10%;
}

.grid__roles {
    width: 10%;
}
